/* GENERAL
   ----------------------------------------------------------- */
body{
    background: url("../../images/background/grainyDarkGray.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* NAVBAR
   ----------------------------------------------------------- */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .container{
    width: 1600px;
}

.navbar .navbar-inner {
    background-image: url("../../images/grainyNavBar.jpg");
    border: 0;
}

/* CREATOR
   ----------------------------------------------------------- */
.workspace-wrapper{
    position: absolute;
    top: 0;
    margin-top: 58px;
    left: 0;
    right: 0;
}

.workspace-wrapper .container{
    width: 1600px;
}

.workspace-wrapper #workspace-menu-bar{
    height: 0px;
    width: 1305px;
    margin-left: 50px;
    background-color: rgba(0,0,0,0.5);
}

.workspace-wrapper #workspace-basic-tools{
    float:left;
    width: 50px;
    height: 0px;
    background-color: rgba(0,0,0,0.5);
}

.workspace-wrapper #workspace-container{
    float: left;
    height: 0px;
    width: 1305px;
    background-color:rgba(255,255,255,0.2);
}


.workspace-wrapper #workspace-object-properties{
    height: 0px;
    width: 245px;
    float: right;
    background-color: rgba(0,0,0,0.5);
}

.workspace-wrapper #workspace-info{
    text-align: right;
    color: white;
    height: 20px;
    width: 1305px;
    float: left;
    margin-left: 50px;
    background-color: rgba(0,0,0,0.5);
}
